
# PlanAhead Generated IO constraints 

NET "led_result[3]" IOSTANDARD = LVCMOS33;
NET "led_result[2]" IOSTANDARD = LVCMOS33;
NET "led_result[1]" IOSTANDARD = LVCMOS33;
NET "led_result[0]" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "bt_clk" LOC = T15;
NET "led_carry" LOC = W21;
NET "vetor_in[3]" LOC = T9;
NET "vetor_in[2]" LOC = U8;
NET "vetor_in[1]" LOC = U10;
NET "vetor_in[0]" LOC = V8;
NET "led_result[3]" LOC = Y22;
NET "led_result[2]" LOC = V20;
NET "led_result[1]" LOC = V19;
NET "led_result[0]" LOC = U19;

# PlanAhead Generated IO constraints 

NET "vetor_in[3]" IOSTANDARD = LVCMOS33;
NET "vetor_in[2]" IOSTANDARD = LVCMOS33;
NET "vetor_in[1]" IOSTANDARD = LVCMOS33;
NET "vetor_in[0]" IOSTANDARD = LVCMOS33;
NET "bt_clk" IOSTANDARD = LVCMOS33;
NET "led_carry" IOSTANDARD = LVCMOS33;
